@font-face {
    font-family: NeutralFont;
    src: url("VT323-Regular.ttf");
}
@font-face {
    font-family: FranticFont;
    src: url("Creepster-Regular.ttf");
}
@font-face {
    font-family: HeroicFont;
    src: url("Cinzel-Bold.ttf");
}
@font-face {
    font-family: HopelessFont;
    src: url("ShadowsIntoLight-Regular.ttf");
}